/* Selecteer de scrollbalk */
::-webkit-scrollbar {
    width: 8px; /* Breedte van de verticale scrollbar */
    height: 8px; /* Hoogte van de horizontale scrollbar */
  }
  
  /* Achtergrond van de scrollbalk */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Lichtgrijze achtergrond */
    border-radius: 10px; /* Ronde hoeken */
  }
  
  /* Scrollbalk zelf */
  ::-webkit-scrollbar-thumb {
    background: #888; /* Donkergrijze balk */
    border-radius: 10px; /* Ronde hoeken */
  }
  
  /* Scrollbalk bij hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Donkerdere kleur bij hover */
  }
  

:root{
    --color-1: #1f1d1c;
    --color-2: #737791d7;
    --text-color: #f0f0f0;
    --accent-color: #6cbbbf;    
}
*{
    margin: 0;
    padding: 0;
}
html{
   font-size: 12pt;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   scroll-behavior: smooth;
}
body{
    background-color: #cdcdcd;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 60px 1fr 30px;
    grid-template-areas: 
    "nav nav"
    "main main"
    "footer footer";
}
nav {
    top: 0;
    position: sticky;
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
        grid-area: nav;
}
.navbar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    text-transform: capitalize;
}
nav .home-link{
    margin-right: auto;

}
nav .home-link img{
    height: 60px;
}
nav svg{
    fill: var(--text-color);
}
#sidebar-active{
    display: none;
}
.open-sidebar-button, .close-sidebar-button{
    display: none;
}


footer{
    background-color: var(--color-1);
    color: var(--text-color);
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: footer;
}




@media(max-width: 680px){
          /* Achtergrond van de scrollbalk */
    ::-webkit-scrollbar-track {
    background: black; /* Lichtgrijze achtergrond */
    border-radius: 10px; /* Ronde hoeken */
    } 
    .navbar{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 250px;
        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.70s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
        display: block;
        padding: 20px;
    }
    #sidebar-active:checked ~ .navbar{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 9;
    }
}